/* Shop.css */

/* Style the shop page container */

.shop-background {
   background-color: #a87575; 
}
.shop-container {
    text-align: center;
    padding: 20px;
  }
  
  /* Style the heading */
  .shop-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style the navigation links */
  nav {
    margin-bottom: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #a87575;
    font-weight: bold;
    margin: 0 10px;
  }
  
  /* Style the product cards */
  .product-card {
    border: 5px solid #9f76e1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f2eab0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 250px;
    font-style: sans-serif;
  }
  
  .product-card h3 {
    font-size: 18px;
  }
  
  .product-card p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .product-card button {
    background-color: #af7695;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .product-card button:hover {
    background-color: #145090;
  }
  